@using Fluxor
@using DeusVultClicker.Client.Shared.Store
@using DeusVultClicker.Client.Buildings.Pages
@using DeusVultClicker.Client.Buildings.Store
@using DeusVultClicker.Client.Eras.Pages
@using DeusVultClicker.Client.Upgrades.Pages
@using DeusVultClicker.Client.Eras.Store
@using DeusVultClicker.Client.Shared.Store.Actions
@using DeusVultClicker.Client.Upgrades.Store.Selector
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div id="wrapper">
    <div id="current-faith">Faith:  @AppState.Value.Faith.ToString("n2") </div>
    <div id="current-followers">Followers:  @AppState.Value.Followers / @BuildingState.Value.Reach</div>
    <div id="available-space">Available space:  @(EraState.Value.Era.AvailableSpace - BuildingState.Value.OwnedBuildings.Select(b => b.SpaceRequirement).Sum())</div>
    <div id="current-money">Cash:  @AppState.Value.Money.ToString("n2")</div>
    <div id="save-button"><SaveButton /></div>
    <div id="secondary-click-container">
        <button class="btn btn-primary" @onclick="() => Dispatcher.Dispatch(new AddFaithAction(UpgradeEffectsSelector.SelectFaithPerClickIncrease()))">Pray</button>
    </div>
    <div id="primary-click-container">
        <button class="btn btn-primary" disabled="@(AppState.Value.Followers >= BuildingState.Value.Reach)" @onclick="() => Dispatcher.Dispatch(new AddFollowersAction(1))">Proselytize</button>
    </div>
    <div id="era-container">
        <EraAdvancment />
    </div>
    <div id="owned-buildings-container">
        <OwnedBuildings />
    </div>
    <div id="available-buildings-container">
        <AvailableBuildings />
    </div>
    <div id="upgrades-container">
        <FaithUpgrades />
    </div>
</div>
@code {
    [Inject]
    private IState<BuildingState> BuildingState { get; set; }
    [Inject]
    private IState<EraState> EraState { get; set; }
    [Inject]
    private IState<AppState> AppState { get; set; }
    [Inject]
    private UpgradeEffectsSelector UpgradeEffectsSelector { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
