@using Fluxor
@using DeusVultClicker.Client.Upgrade.Store
@using DeusVultClicker.Client.Shared.Store
@using DeusVultClicker.Client.Shared.Store.Actions
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Faith upgrades</h3>
<ul>
    @foreach (var upgrade in UpgradeState.Value.AvailableUpgrades)
    {
        <li>
            <AdvancementCard Title="@upgrade.Title"
                             Description="@upgrade.Description"
                             EffectDescription="@upgrade.EffectDescription"
                             FlavorText="@upgrade.FlavorText"
                             Cost="@($"{upgrade.Cost} Faith")"
                             Disabled="@(upgrade.Cost > AppState.Value.Faith)"
                             OnBuy="() => Dispatcher.Dispatch(new UnlockUpgradeAction(upgrade))" />
        </li>
    }
</ul>

@code {
    [Inject]
    private IState<UpgradeState> UpgradeState { get; set; }
    [Inject]
    private IState<AppState> AppState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
