@using DeusVultClicker.Client.Building.Store
@using Fluxor
@using DeusVultClicker.Client.Shared.Store
@using DeusVultClicker.Client.Shared.Store.Actions
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<h3>Available buildings</h3>
<ul>
    @foreach (var building in BuildingState.Value.AvailableBuildings)
    {
        <li>
            <AdvancementCard Title="@building.Title"
                             Description="@building.Description"
                             EffectDescription="@building.EffectDescription"
                             FlavorText="@building.FlavorText"
                             Cost="@($"{building.Cost} Cash")"
                             Disabled="@(building.Cost > AppState.Value.Money || building.SpaceRequirement > BuildingState.Value.AvailableSpace)"
                             OnBuy="() => Dispatcher.Dispatch(new BuyBuildingAction(building))" />
        </li>
    }
</ul>

@code {
    [Inject]
    private IState<BuildingState> BuildingState { get; set; }
    [Inject]
    private IState<AppState> AppState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
