<div class="card">
    @*<div class="image">
        <img src="error" />
    </div>*@
    <div class="content">
        <h3 class="title">@Title</h3>
        <span class="description">@Description</span>
        <span class="effect-description">@EffectDescription</span><br />
        <span class="flavor-text">@FlavorText</span>
        <span class="cost">@Cost</span>
    </div>
    <button type="button" disabled="@Disabled" @onclick="@OnBuy">@BuyText</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string EffectDescription { get; set; }
    [Parameter]
    public string FlavorText { get; set; }
    [Parameter]
    public string Cost { get; set; }
    [Parameter]
    public string BuyText { get; set; } = "Buy";
    [Parameter]
    public bool Disabled { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnBuy { get; set; }
}
