@using DeusVultClicker.Client.Buildings.Store.Selectors
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div id="available-buildings-wrapper">
    @foreach (var building in AvailableBuildingsSelector.SelectAvailableBuildings())
    {
        <AdvancementCard Title="@building.Title"
                         Description="@building.Description"
                         EffectDescription="@building.EffectDescription"
                         FlavorText="@building.FlavorText"
                         Cost="@($"{building.Cost} Money")"
                         Disabled="@(building.Cost > AppState.Value.Money || building.SpaceRequirement > EraState.Value.Era.AvailableSpace - BuildingState.Value.OwnedBuildings.Sum(b => b.SpaceRequirement))"
                         OnBuy="() => Dispatcher.Dispatch(new BuyBuildingAction(building))" />
        }
</div>

@code {
    [Inject]
    private AvailableBuildingsSelector AvailableBuildingsSelector { get; set; }
    [Inject]
    private IState<AppState> AppState { get; set; }
    [Inject]
    private IState<EraState> EraState { get; set; }
    [Inject]
    private IState<BuildingState> BuildingState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
