<h3>Era advancements</h3>
@if (EraService.AvailableEraAdvancement != null)
{
    <AdvancementCard Title="@EraService.AvailableEraAdvancement.Title"
                     Description="@EraService.AvailableEraAdvancement.Description"
                     EffectDescription="@EraService.AvailableEraAdvancement.EffectDescription"
                     FlavorText="@EraService.AvailableEraAdvancement.FlavorText"
                     Cost="@($"{EraService.AvailableEraAdvancement.Cost} Faith")"
                     Disabled="@(EraService.AvailableEraAdvancement.Cost > StateView.State.Faith)"
                     OnBuy="() => EraService.AdvanceToEra(EraService.AvailableEraAdvancement)" />
}
else
{
    <span>No era advancement available.</span>
}

@code {
    [Inject]
    private EraService EraService { get; set; }

    [Inject]
    private StateView StateView { get; set; }
}
