@using Fluxor
@using DeusVultClicker.Client.Shared.Store
@using DeusVultClicker.Client.Shared.Store.Actions
@using DeusVultClicker.Client.Eras.Store.Selectors
@using DeusVultClicker.Client.Eras.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<h3>Era advancements</h3>
@if (EraAdvancement != null)
{
    <AdvancementCard Title="@EraAdvancement.Title"
                     Description="@EraAdvancement.Description"
                     EffectDescription="@EraAdvancement.EffectDescription"
                     FlavorText="@EraAdvancement.FlavorText"
                     Cost="@($"{EraAdvancement.Cost} Faith")"
                     Disabled="@(EraAdvancement.Cost > AppState.Value.Faith)"
                     OnBuy="() => Dispatcher.Dispatch(new AdvanceToEraAction(EraAdvancement))" />
}
else
{
    <span>No era advancement available.</span>
}

@code {
    [Inject]
    private AvailableEraSelector AvailableEraSelector { get; set; }
    private EraAdvancement EraAdvancement => AvailableEraSelector.SelectAvailableEra();
    [Inject]
    private IState<EraState> EraState { get; set; }
    [Inject]
    private IState<AppState> AppState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }

}
